/* Element colours */
/* Colours */
/* Structural Properties*/
.language-bar {
  background-color: #2E2E2E;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.language-bar .language-menu {
  text-align: right;
  color: white;
}

.navigation-bar {
  margin-bottom: 70px;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #424242;
  border-radius: 0;
  border: none;
  min-height: 0px;
}
.navigation-bar .navbar-item a {
  color: white;
}
.navigation-bar .navbar-item a:hover {
  background-color: transparent;
  color: #FACC2E;
}

@media (max-width: 767px) {
  .navigation-bar .navbar-item {
    width: 100%;
  }
  .navigation-bar .navbar-item :not(.brand-img) {
    border-bottom: 1px solid grey;
  }
}
.product-header {
  margin-bottom: 60px;
}
.product-header .header-img {
  margin-bottom: 20px;
}
.product-header .prod-header-headline {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.product-header .brief-prod-description {
  margin-bottom: 35px;
  font-size: 13px;
}
.product-header .glyphicon-play-circle {
  color: #FACC2E;
}
.product-header a {
  color: black;
}

@media (max-width: 991px) {
  .product-header .header-left {
    text-align: center;
    margin-bottom: 20px;
  }
  .product-header .header-right {
    margin: 0 15% 0 15%;
    text-align: center;
  }
  .product-header .header-right .brief-prod-description {
    max-width: 100%;
  }
  .product-header .header-img {
    width: 100%;
    max-width: 300px;
  }
}
.image-narrative-strip {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 15%;
  padding-right: 15%;
  background-color: grey;
  text-align: center;
}
.image-narrative-strip h3 {
  font-size: 20px;
}
.image-narrative-strip .image-strip-img {
  width: 100%;
  max-width: 400px;
}
.image-narrative-strip .narrative-box {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  margin-bottom: 20px;
}

.carousel {
  margin-left: -20px;
  margin-right: -20px;
  max-height: 350px;
}
.carousel .item {
  max-height: 350px;
}
.carousel .item img {
  width: 100%;
}
