/* Colours */
/* Element colours */
/* Structural Properties*/
/* Fonts */
/* Screen Sizes */
.language-bar {
  background-color: #2E2E2E;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.language-bar .language-menu {
  text-align: right;
  color: white;
}

.navigation-bar {
  margin-bottom: 0;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #424242;
  border-radius: 0;
  border: none;
  min-height: 0px;
}
@media (max-width: 767px) {
  .navigation-bar .navbar-item {
    width: 100%;
  }
  .navigation-bar .navbar-item :not(.brand-img) {
    border-bottom: 1px solid grey;
    border-radius: 0px;
  }
}
.navigation-bar .navbar-item a {
  color: white;
}
.navigation-bar .navbar-item a:hover {
  background-color: transparent;
  color: #FACC2E;
}

.basket-container {
  background-color: red;
  position: relative;
}
.basket-container .basket {
  background-color: #F2F2F2;
  padding: 10px;
  min-height: 200px;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 13%;
  z-index: 1;
}

.product-header {
  margin: 60px 0;
  position: relative;
}
@media (max-width: 991px) {
  .product-header .header-left {
    text-align: center;
    margin-bottom: 20px;
  }
}
.product-header .header-left .header-img {
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .product-header .header-left .header-img {
    width: 100%;
    max-width: 300px;
  }
}
.product-header .header-left .prod-header-headline {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  .product-header .header-left .prod-header-headline {
    border-bottom: none;
  }
}
@media (max-width: 991px) {
  .product-header .header-right {
    text-align: center;
  }
  .product-header .header-right .brief-prod-description {
    width: 100%;
  }
}
.product-header .header-right .brief-prod-description {
  margin-bottom: 35px;
  font-size: 13px;
}
.product-header .header-right .glyphicon-play-circle {
  color: #FACC2E;
}
.product-header .header-right a {
  color: black;
}

.image-narrative-strip {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 15%;
  padding-right: 15%;
  background-color: grey;
  text-align: center;
}
.image-narrative-strip .narrative-box {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  margin-bottom: 20px;
}
.image-narrative-strip h3.narrative-box {
  font-size: 20px;
}
.image-narrative-strip .image-strip-img {
  width: 100%;
  max-width: 400px;
}

.carousel {
  margin: 0 -20px 0 -20px;
  max-height: 200px;
}
.carousel .item {
  height: 200px;
}
.carousel .item img {
  width: 100%;
}

.pricing-breakdown {
  padding: 50px 0 50px 0;
  background-color: #E6E6E6;
}
.pricing-breakdown .breakdown-header {
  font-size: 20px;
}
.pricing-breakdown p:not(.breakdown-header) {
  font-size: 13px;
  padding-right: 10px;
}
.pricing-breakdown .pricing-boxes {
  min-width: 176px;
  text-align: center;
  background-color: white;
  padding: 0 0 20px 0;
  margin-left: 10px;
  margin-right: 10px;
}
.pricing-breakdown .pricing-boxes .pricing-headers {
  width: 100%;
  padding: 20px 2% 20px 2%;
  margin-bottom: 20px;
  background-color: #424242;
  color: white;
  font-weight: bold;
}
.pricing-breakdown .pricing-boxes .licence-quants {
  text-align: center;
  width: 30%;
}
.pricing-breakdown .pricing-boxes .licence-quants .btn-number {
  width: 100%;
  border: none;
  padding: 0 0 0 0;
  font-size: 20px;
  color: #FACC2E;
}
.pricing-breakdown .pricing-boxes .licence-quants input[readonly] {
  background-color: white;
  text-align: center;
  width: 35px;
  padding: 0 5px;
}
.pricing-breakdown .pricing-boxes .prices {
  width: 100%;
  padding: 0 10%;
}
.pricing-breakdown .pricing-boxes .prices p, .pricing-breakdown .pricing-boxes .prices h3 {
  font-weight: bold;
}
.pricing-breakdown .pricing-boxes .prices h3 {
  color: #FACC2E;
}

.savings-box {
  text-align: center;
  padding: 20px 0;
}
.savings-box h4 {
  margin-bottom: 30px;
}
.savings-box img {
  width: 100%;
  max-width: 200px;
}
.savings-box .plus-box {
  font-size: 50px;
}
.savings-box p {
  font-size: 13px;
}
.savings-box .box-btn {
  margin-top: 20px;
}

.box-btn {
  font-weight: bold;
  padding: 10px 20px;
  background-color: #FACC2E;
  border-radius: 0;
}

.features {
  padding: 20px 0;
  background-color: #EAEAEA;
}
.features .feature-table {
  border-radius: 100px;
}
.features .feature-table .feature-table-head {
  background-color: #424242;
  color: white;
}
.features .feature-table .feature-table-head .each-head {
  padding: 20px;
}
.features .feature-table .feature-table-rows {
  background-color: white;
}
.features .feature-table .feature-table-rows .feature-box {
  padding: 10px;
}
.features .feature-table .feature-table-rows .feature-box .fa-plus-square {
  color: #FACC2E;
  font-size: 20px;
}
.features .feature-table .feature-table-rows .check-boxes {
  color: #FACC2E;
  padding: 15px;
}
.features .feature-table .feature-table-rows .fa-check {
  font-size: 30px;
}
.features .feature-table .each-head, .features .feature-table .check-boxes {
  text-align: center;
}
.features .feature-table .each-box {
  border-bottom: 1px solid #EAEAEA;
  height: 51px;
}
