.basket-container {
	background-color: red;
	position: relative;

	.basket {
		background-color: #F2F2F2;
		padding: 10px;
		min-height: 200px;
		width: 300px;
		position: absolute;
		top: 0;
		right: 0;
		margin-right: 13%;
		z-index: 1;
	}
}