.image-narrative-strip {
	padding-top: 50px;
	padding-bottom: 30px;
	@include general-side-padding();
	background-color: $light-grey;
	text-align: center;

	h3 {
		font-size: 20px;
	}

	.image-strip-img {
		width: 100%;
		max-width: $img-strip-width-limit;
	}

	.narrative-box {
		@include max-width-control($img-strip-width-limit);
		color: $white;
		margin-bottom: 20px;
	}
}