.image-narrative-strip {
	padding: 50px 9% 0 9%;
	background-color: $light-gray;

	.image-strip-img {
		width: 100%;
		max-width: 400px;
	}

	.narrative-box {
		max-width: 400px;
		text-align: center;
		color: $white;
	}
}

