.image-narrative-strip {
	padding: 50px 9% 30px 9%;
	background-color: $light-grey;
		text-align: center;

	h3 {
		font-size: 20px;
	}

	.image-strip-img {
		width: 100%;
		max-width: $img-strip-width-limit;
	}

	.narrative-box {
		@include max-width-control($img-strip-width-limit);
		color: $white;
		margin-bottom: 20px;
	}
}