.language-bar {
	background-color: $language-bar-color;
	width: 100%;
	@include general-side-padding();
	padding-top: 10px;
	padding-bottom: 10px;

	.language-menu {
		text-align: right;
		color: $white;
	}
}

.navigation-bar {
	margin-bottom: 0;
	@include general-side-padding();
	background-color: $navbar-color;
	border-radius: 0;
	border: none;
	min-height: 0px;

	.navbar-item {

		@media (max-width: $x-small-screen) {
			width: 100%;

			:not(.brand-img) {
				border-bottom: 1px solid $grey;
				border-radius: 0px;
			}
		}

		a {
			color: $white;
		}

		a:hover {
			background-color: transparent;
			color: $mustard-yellow;
		}
	}
}