.product-header {
	margin-bottom: 60px;

	.header-img {
		margin-bottom: 20px;
	}

	.prod-header-headline {
		border-bottom: 1px solid;
	}

	.brief-prod-description {
		margin-bottom: 35px;
	}

	.glyphicon-play-circle {
		color: $mustard-yellow;
	}

	a {
		color: black;
	}
}

@media (max-width: 991px) {
	.product-header {
		margin: 0 5% 0 5%;

		.header-img {
			width: 100%;
			max-width: 300px;
		}
	}
}