/* Element colours */

$language-bar-color: #2E2E2E;
$navbar-color: #424242;



/* Colours */

$light-grey: grey;
$white: white;
$mustard-yellow: #FACC2E;


/* Structural Properties*/

$padding-sides: 15%;
$img-strip-width-limit: 400px;




/* Fonts */
